h1 {
	font-size:100px;
}

table {
	border: 1px solid black;
	width: 640px;
	height: 300px;
	margin-top: 10px;
}

#StartButton {
	width: 150px;
	height: 100px;
	margin-right: 10px;
}

#StopButton {
	width: 150px;
	height: 100px;
	margin-right: 10px;
}

#StopWatchButton {
	width: 150px;
	height: 100px;
	margin-right: 10px;
}

#ClockButton {
	width: 150px;
	height: 100px;
}

#Themainstuff {
	height: 75%;
}

#Thetopleftstuff {
	text-indent: 20px;
}

#Thetoprightstuff {
	text-indent: 280px;
}

#InnerLapButton {
	width: 150px;
	height: 40px;
	margin-top: 10px;
}

#InnerResetButton {
	width: 150px;
	height: 40px;
	margin-top: 10px;
}