/*This is the css page for the stopwatch page*/
/*Most of the changes below affect the color, placement, and size of the buttons and boxes on the html page*/
h1 {
	font-size:100px;
}

table {
	border: 1px solid black;
	width: 640px;
	height: 300px;
	margin-top: 10px;
	background-color: #bff0ff;
}

body {
	background: #fcde1e;
}

#StartButton {
	width: 150px;
	height: 100px;
	margin-right: 10px;
	background: linear-gradient(#bbff96,#4bc42d);
}

#StopButton {
	width: 150px;
	height: 100px;
	margin-right: 10px;
	background: linear-gradient(#fcabab,#fc5353);
}

#StopWatchButton {
	width: 150px;
	height: 100px;
	margin-right: 10px;
	background: linear-gradient(#d2daf2,#768bc9);
}

#ClockButton {
	width: 150px;
	height: 100px;
	background: linear-gradient(#fffcb2,#c9c206);
}

#Themainstuff {
	height: 75%;
}

#Thetopleftstuff {
	text-indent: 20px;
}

#Thetoprightstuff {
	text-indent: 280px;
}

#InnerLapButton {
	width: 150px;
	height: 40px;
	margin-top: 10px;
	background: #f9f361;
}

#InnerResetButton {
	width: 150px;
	height: 40px;
	margin-top: 10px;
	background: #64db4e;
}

#attempt {
	text-align: top;
}

#LapfindButton {
	width: 400px;
	margin-top: 10px;
	background: #1df9eb;
}

#LapResetButton {
	width: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #4df918;
}

#Lapbox1 {
	margin-top: 10px;
	margin-bottom: 10px;
}